.DS_Store
*.aux
*.bbl
*.blg
*.lbl
*.loe
*.loa
*.out
*.lof
*.log
*.maf
*.mlf*
*.mlt*
*.mtc*
*.synctex.gz
*.toc


### Emacs ###

## AUCTeX auto folder
auto/

## Latexmk
*.fdb_latexmk
*.fls


# Build files
*.pdf
*.xmpi