name: Build

on: [push, pull_request]

jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: sommaire.tex
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v5
        with:
          name: PDF-pdflatex-ubuntu
          path: sommaire.pdf
  build-on-windows-miktex:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install MiKTeX
        run: |
          choco install miktex --no-progress
          echo "C:\Program Files\MiKTeX\miktex\bin\x64" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8
      - name: Configure MikTeX
        run: |
          initexmf --admin --verbose --set-config-value=[MPM]AutoInstall=1
          initexmf --set-config-value=[MPM]AutoInstall=1
          miktex --admin --verbose packages update-package-database
          miktex --admin --verbose packages update
          miktex --verbose packages update
          miktex --admin --verbose packages install cm-super
          miktex --admin --verbose fndb refresh
          initexmf --admin --verbose --update-fndb
          initexmf --admin --verbose --mklinks --force
          updmap --admin
      - name: Compile PDF
        run: latexmk.exe -pdf -pdflatex="pdflatex -halt-on-error -interaction=nonstopmode" sommaire.tex
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v5
        with:
          name: PDF-miktex-windows
          path: sommaire.pdf