name: Build

on: [push, pull_request]

jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: sommaire.tex
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: sommaire.pdf